.CardsContainer {
  /* border: 2px solid blue; */
  margin-top: 25px;
}

.CardBox {
  margin: auto;
  margin-top: 30px;
  position: relative;
  width: 90%;
  height: 206px;
  /* border: 2px solid red; */
  color: white;
  background: no-repeat;
}

.topHeaderBoxFlexCoursesDisplayPage {
  display: flex;
  gap: 10px;
  margin-top: 34px;
  margin-left: 26px;
  /* border: 1px solid red; */
}

.categoryHeadingCoursesDisplayPage {
  width: 242px;
  height: 23px;
  left: 43.5px;
  top: 0px;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.02em;

  /* Text Black */

  color: #5a5a5a;
}

.DetailsFlex {
  display: flex;
  position: absolute;
  justify-content: center;
  display: flex;
  gap: 40px;
  margin-top: -145px; /*this should not be done*/
  margin-left: 25px;
  /* border: 2px solid green; */
}

.instructor_main_div {
  /* position: absolute; */
  display: grid;
  width: 100px;
  height: 130px;
  /* border-radius: 50%; */
  /* border: 1px solid blue; */
  text-align: center;
  justify-content: center;
}

.instructor_main_div img {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  border: none;
  margin: 0%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  border: 3px solid #6ba1b3;
}

.CardHeading {
  width: 145px;
  height: 84px;
  left: 0px;
  top: 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;

  color: #ffffff;
  /* color: #e20202; */
}

.DataTimeLiveFlex {
  display: flex;
  position: absolute;
  justify-content: center;
  text-align: center;
  gap: 45px;
  margin-top: 15px;
  top: 10px;
  /* left: 0px; */
  margin-left: 25px;
  /* border: 1px solid yellow; */
  /* z-index: 100; */
}

.live-button {
  width: 50px;
  height: 23px;
  left: 220px;
  border: none;

  /* Supportive Color */

  background: #e20202;
  border-radius: 7px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  letter-spacing: 0.02em;

  /* FFFFFF */

  color: #ffffff;
}

.date-time-heading {
  width: 195px;
  height: 23px;
  left: 0px;
  top: 0px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.02em;

  color: #ffffff;
}

.instructor_name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.02em;

  color: #ffffff;
  /* color: red; */
}

.instructor_profession {
  width: 81px;
  height: 14px;
  left: 5px;
  top: 111px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.02em;

  color: #ffffff;
  /* color: red; */
  /* border: 1px solid yellow; */
  margin-left: 8px;
}

.shareIcon {
  position: absolute;
  /* width: 10%; */
  text-align: center;
  margin-right: 15px;
  /* background-color: red; */
  /* float: right; */
  margin-top: -24px;
  margin-left: 335px;
}

.NoActiveLiveSession {
  /* width: 321px; */
  height: 35px;
  left: 45px;
  top: 394px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.02em;
  /* border: 1px solid red; */
  margin-top: 170px;

  color: rgba(4, 7, 58, 0.2);
}
