.home_banner {
    width: 88%;
    height: 200px;
    background-color: black;
    border-radius: 2px;
    margin: 0px auto;
    margin-bottom: 23px;
    padding-top: 72px;
}

.home_banner img {
    width: 88%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
}