.topHeaderBoxFlexCoursesDisplayPage {
  display: flex;
  gap: 20px;
  margin-top: 34px;
  margin-left: 26px;
  /* border: 1px solid red; */
}

.categoryHeadingCoursesDisplayPage {
  width: 200px;
  height: 23px;
  left: 43.5px;
  top: 0px;

  /* font-family: Roboto; */
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.02em;

  /* Text Black */

  color: #5a5a5a;
}

.biggerContentBoxGridCoursesDisplayPage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 47px;
  /* border: 1px solid green; */
  padding-left: 23px;
  padding-right: 23px;
}

.smallerContentBoxGrid {
  display: grid;
  margin: auto;
  justify-content: center;
  text-align: center;

  width: 171px;
  height: 150px;
  left: 24px;
  top: 104px;

  background: #ffffff;
  box-shadow: 2px 4px 4px rgba(40, 176, 220, 0.1);
  /* border-radius: 7px; */
  /* border: 1px solid blue; */
}

.courseIconCoursesDisplayPage {
  margin: auto;
  left: 8.33%;
  right: 12.5%;
  top: 8.33%;
  bottom: 5.95%;
  height: 100px;
}
.courseNameCoursesDisplayPage {
  /* width: 107px; */
  height: 21px;
  left: 56px;
  top: 208px;

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.02em;

  /* Text Black */

  color: #5a5a5a;
}
