.carousel_heading {
    width: 88%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.carousel_title {
    font-size: 20px;
    font-weight: 500;
    color: #5A5A5A;
}

.carousel_link {
    font-size: 17px;
    font-weight: 400;
    color: #28B0DC;
}

.carousel_home {
    display: flex;
    margin-left: 15px;
    overflow-x: scroll;
}

.carousel_div {
    background-color: white;
    margin: 0 9px;
    box-shadow: 2px 4px 4px rgba(40, 176, 220, 0.1);
}

.carousel_home::-webkit-scrollbar{
    display: none;
}

.mentor_name {
    font-size: 12px;
    font-weight: 500;
}

.mentor_profession {
    font-size: 12px;
    font-weight: 400;
}

@media (min-width: 790px) {
    .carousel_home {
        display: flex;
        margin-left: 75px;
        height: 200px;
        overflow-x: scroll;
    }
    
    .carousel_div {
        height: 95%;
        width: 300px;
        border-radius: 15px;
        margin: 10px 10px;
    }

    .carousel_home::-webkit-scrollbar{
        display: none;
    }
}

.main_svg {
    margin-top: 41px;
}

.second1_svg {
    position: absolute;
    top: 1360px;
    left: 105px;
}

.second2_svg {
    position: absolute;
    top: 1360px;
    left: 120px;
}

.second3_svg {
    position: absolute;
    top: 1377px;
    left: 105px;
}

.second4_svg {
    position: absolute;
    top: 1377px;
    left: 120px;
}