.welcome {
    position: relative;
width: 197px;
height: 92px;
left: 25px;
top: 52px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 46px;
/* or 128% */

text-align: center;
letter-spacing: 0.02em;

/* 898989 */

color: #898989;

}

