.gigs{
    position: absolute;
    width: 411px;
    height: 206px;
    left: 0px;
    top: 102px;
    
    /* D9D9D9 */
    
    background: #D9D9D9;
    border-radius: 10px; 
}
.gigs-div{
    position: absolute;
    left: 6%;
    top: 30%;
    bottom: -9.71%;
    width:363px;
    
    /* FFFFFF */
    
    background:#ffffff; 
}
.gigs-name{
 position: absolute;
font-size: 36px;
line-height: 42px;
letter-spacing: 0.02em;
margin-top: 30px;
margin-left: 98px;


/* Accent Color */

color: #F2AC20;

}
.gigs-title{
    position: absolute;
    left: 0.54%;
    right: 68.55%;
    top: 12.27%;
    bottom: 84.16%;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
/* identical to box height */

letter-spacing: 0.02em;

/* Primary 1 */

color: #28B0DC;
}
.gigs-detail p{
    position: absolute;
left: 2.42%;
right: 0%;
top: 18.4%;
bottom: 62.18%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.02em;

/* 898989 */

color: #898989;
}
.calendar{
    position:relative;
    top: 46%;
}
.calendar span{
    left: 0%;
    display: flex;
    margin-bottom: 30px;
}
span p{
    margin-left: 10px;
}
.span-btn{
    border: 1px solid #898989;
    color:  #898989;
    margin-left: 10px;
    border-radius: 10px;
}
.app-btn button{
margin-top: 0%;
margin-left: 5px;
}

.intern-name{
    position: absolute;
   font-size: 36px;
   line-height: 42px;
   letter-spacing: 0.02em;
   margin-top: 30px;
   margin-left: 40px;
   
   
   /* Accent Color */
   
   color: #F2AC20;
   
   }
   .intern-title{
       position: absolute;
       left: 0.54%;
       right: 50.55%;
       top: 12.27%;
       bottom: 84.16%;
   
   font-family: Roboto;
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 21px;
   /* identical to box height */
   
   letter-spacing: 0.02em;
   
   /* Primary 1 */
   
   color: #28B0DC;
   }


 