.Myproject{
   height: 160px;
   width: 363px;
   border-radius: 10px;
   background-color: #ffff;
   margin-left: 24px;
   margin-top: 24px;
   box-shadow: 2px 4px 4px rgba(40, 176, 220, 0.1);
}

.Myproject_assign{
   font-weight: 500;
   font-size: 12px;
   font-style: normal;
   line-height: 25px;
   color: #F2AC20;
   margin-top: 8px;
   margin-left: 303px;
   letter-spacing: 0.02em;
}


.Myproject_title{
    height: 50px;
    width: 255px;
    font-size: 20px;
    text-align: left;
    margin-left: 40px;
    margin-top: 8px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #5A5A5A;
    font-style: normal;
}

.Myproject_date{
    
    font-size: 12px;
    font-weight: 400;
    height: 25px;
    width: 140px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #5A5A5A;
    margin-top: 8px;
    margin-left: 40px;
    text-align: left;
}

.Myproject_due{
   
    font-size: 12px;
    font-weight: normal;
    height: 25px;
    width: 170px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #5A5A5A;
    margin-left: 40px;
    text-align: left;
}

.incom{
    color: #C2C2C2;
    font-size: 30px;
    margin-top: 300px;
    align-items: left;
}