.payment_arrow {
  height: 34px;
  width: 100%;
  text-align: left;
  padding-top: 14px;
  padding-left: 26px;
}

.progress {
  height: 64px;
  width: 363px;
  margin-top: 24px;
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  color: white;
}

.progress_1 {
  height: 72px;
  width: 363px;
  margin-top: 24px;
  margin-left: 24px;
  display: flex;
  flex-direction: row;
  color: white;
  background-color: #28b0dc;
  border-radius: 5px;
}

.city {
  height: 54px;
  width: 363px;
  margin-left: 24px;
  margin-top: 42px;
  border: 1px solid #a9a9a9;
  box-sizing: border-box;
  border-radius: 30px;
  /* border: 1px solid red; */
}

.month {
  height: 54px;
  width: 363px;
  margin-left: 24px;
  margin-top: 24px;
  border: 1px solid #a9a9a9;
  box-sizing: border-box;
  border-radius: 30px;
  display: flex;
}

.down_arrow {
  height: 8px;
  width: 19px;
  margin-top: 16px;
  margin-left: 50px;
}

.promo {
  height: 54px;
  width: 363px;
  margin-left: 24px;
  margin-top: 24px;
  border: 1px solid #a9a9a9;
  box-sizing: border-box;
  border-radius: 30px;
}

.proceed {
  height: 54px;
  width: 363px;
  margin-top: 61px;
  margin-left: 24px;
  background: #28b0dc;
  border-radius: 30px;
}

.city_name {
  height: 21px;
  width: 250px;
  margin-top: 16px;
  font-size: 18px;
  /* line-height: 21px; */
  /* color: #a9a9a9; */
  border: none;
  text-align: left;
}

.month_name {
  height: 21px;
  width: 207px;
  margin-left: 51px;
  margin-top: 16px;
  font-size: 18px;
  /* line-height: 21px; */
  /* color: #a9a9a9; */
  border: none;
}

.pro_code {
  height: 40px;
  width: 300px;
  font-size: 18px;
  margin-top: 7px;
  /* line-height: 21px; */
  /* color: #a9a9a9; */
  border: none;
  margin-left: 40px;
}

.proceed_name {
  width: 200px;
  height: 28px;
  margin-left: 75.5px;
  padding-top: 15px;
  font-size: 24px;
  font-weight: 500;
  color: white;
  line-height: 24px;
}

.top {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-left: 13px;
}

.bottom {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.detail {
  font-size: 12px;
  color: #5a5a5a;
  line-height: 14px;
  font-weight: 500;
  margin-top: 10px;
}

.confo {
  font-size: 12px;
  color: #5a5a5a;
  line-height: 14px;
  font-weight: 500;
  margin-top: 10px;
  margin-left: 80px;
}

.final {
  font-size: 12px;
  color: #5a5a5a;
  line-height: 14px;
  font-weight: 500;
  margin-top: 10px;
  margin-left: 80px;
}

.line {
  background-color: #28b0dc;
  height: 2px;
  margin-top: 12px;
  width: 120px;
}

.name1 {
  height: 14px;
  width: 80px;
  color: #28b0dc;
  margin-left: 48px;
  margin-top: 42px;
  font-size: 12px;
  line-height: 14.06px;
  font-weight: 500;
  text-align: left;
}

.title_name {
  background: #ffffff;
  box-shadow: 2px 4px 4px rgba(40, 176, 220, 0.1);
  height: 54px;
  width: 363px;
  margin-left: 24px;
}

.tit_name {
  height: 21px;
  width: 67px;
  margin-left: 24px;
  padding-top: 17px;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.09px;
}

.phone_pay {
  height: 50px;
  width: 363px;
  border: 0.5px solid gray;
  margin-top: 30px;
  margin-left: 24px;
  display: flex;
  flex-direction: row;
}

.icon_logo {
  height: 32px;
  width: 38px;

  margin-left: 24px;
  margin-top: 5px;
  /* margin-right: -20px; */
}

/* .icon_payment_select {
  margin-right: 50px;
} */

.icon_logo_1 {
  height: 32px;
  width: 38px;
  margin-left: 24px;
  margin-top: 13px;
}

.icon_name {
  height: 21px;
  width: 74px;
  margin-left: 12px;
  margin-top: 16px;
  font-size: 18px;
  color: #5a5a5a;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
}

.icon_name_1 {
  height: 40px;
  width: 200px;
  margin-left: 12px;
  margin-top: 10px;
  font-size: 18px;
  color: #5a5a5a;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.on {
  font-size: 18px;
  color: #5a5a5a;
  height: 21px;
  width: 54px;
}

.off {
  font-size: 9px;
  height: 11px;
  width: 180px;
  color: #5a5a5a;
}

.icon_progress {
  margin-left: 163px;
  margin-top: 10px;
}

.icon_circle {
  margin-left: 38px;
  padding-top: 10px;
}

.icon_progress:focus {
  background-color: #28b0dc;
}

.icon_circle:focus {
  background-color: #28b0dc;
}

.square {
  height: 26px;
  width: 43px;
  border-radius: 5px;
  margin-left: 36px;
  margin-top: 15px;
  font-size: 10px;
  text-align: center;
  background-color: aliceblue;
  color: #28b0dc;
  padding-top: 17px;
}

.names {
  height: 50px;
  width: 100px;
  margin-top: 17px;
  padding-left: 10px;
}

.photog {
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
}

.amou {
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  margin-top: 2px;
}

.removingBorder {
  outline: none;
}

#icon0_payment {
  margin-left: 4px;
  margin-top: -1px;
}

#icon1_payment {
  margin-right: 10px;
  margin-top: -1px;
}
#icon2_payment {
  margin-right: 20px;
  margin-top: -1px;
}
#icon3_payment {
  margin-right: 20px;
  margin-top: -1px;
}
