.about{
    margin-bottom: 50px;
}
.about h3{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
/* identical to box height */

letter-spacing: 0.02em;

/* 5A5A5A */

color: #5A5A5A;
text-align: left;
margin-bottom: 10px;
}
.about p{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.02em;

/* 898989 */

color: #898989;
text-align: left;
}