.back_arrow{
    margin-top: 44px;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #5A5A5A;
}

.back_arrow button{
    background-color: white;
    border: none;
}
.arrow{
    color: #5A5A5A;
    margin-bottom: 7px;
    margin-right: -10px;
    /* border: 1px solid red; */
}